{% extends "layout.html" %}
{% block content %}
<h3>Синонимы к слову {{word}}</h3>
{% if synonyms is not none %}
<table class="items-table">
    <thead>
        <tr>
            <td>Синоним</td>
            <td>Близость</td>
        </tr>
    </thead>
    <tbody>
        {% for index, row in synonyms.iterrows() %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
Нет синонимов
{% endif %}
{% endblock %}
